
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=, initial-scale=1.0">
   <link rel="stylesheet" href="style2.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <form action="/register" method="post">
	    <h2>Register</h2>
	    <input class="itext" type="text" placeholder="First Name" required name="firstname">
	    <input class="itext" type="text" placeholder="Last Name"required name="lastname">
	    <input class="itext" type="text" placeholder="Username" required name="username">
        <input class="itext" type="password" placeholder="Password" required name="password">
        <input class="itext" type="password" placeholder="Confirm Password" required name="confirmpassword">
        <input class="itext" minlength="10" maxlength="10" type="number" placeholder="Mobile" required name="mobile">
        <input class="itext" type="email" placeholder="Email" required name="email">
	    <p class="userrole"> User Role</p>
	    <input  class="iradio" type="radio" name="userrole" checked value="Admin">Admin
	    <input  class="iradio" type="radio" name="userrole"  value="Employee">Employee
        <input  class="iradio" type="radio" name="userrole" value="User">User
	    <button class="submit">Submit</button>	 
    </form>   
    </div>
    
</body>
</html>